<%- include('./partials/header') %>


<main>
    <div class="container">
        <div class="row">
            <div class="infoProduto">
                <div class="row">
                    <img src="img/ecomerce/item1.jpg" alt="Produto">
                    <div class="text">
                        <h2>Livro - Do mil ao milhão</h2>
                        <p>Em seu primeiro livro, Thiago Nigro, criador da plataforma O Primo Rico, ensina aos leitores os três pilares para atingir a independência financeira: gastar bem, investir melhor e ganhar mais. Por meio de dados e de sua própria expe...
                        </p>
                        <a href="#infoItem">Mais informações</a>
                    </div>
                </div>
            </div>

            <div class="frete">
                <p class="de"> De R$ 34,99</p>
                <p class="por">Por R$25,99</p>
                <hr>
                <p class="frete-prazo">Calcular frete e pazo:</p>
                <div class="row">
                    <form action="cep" method="post">
                        <input type="text" name="cep" maxlength="8" OnKeyPress="formatar('#####-###', this)" placeholder="Digite seu cep">
                        <button type="submit">Ok</button>
                    </form>
                </div>
                <hr>
                <a href="finalizar"><button type="submit" class="btn-comprar">Comprar :) <img src="img/ecomerce/carrinho.png"></button></a>
                <a href="carrinho"><button type="submit" class="btn-adicionar">Adicionar <img src="img/ecomerce/carrinho.png"></button></a>
            </div>
                <div id="infoItem">
                    <h1>Informações do produto</h1>
                    <p>Em seu primeiro livro, Thiago Nigro, criador da plataforma O Primo Rico, ensina aos leitores os três pilares para atingir a independência financeira: gastar bem, investir melhor e ganhar mais. Por meio de dados e de sua própria experiência como investidor e assessor, Nigro mostra que a riqueza é possível para todos – basta estar disposto a aprender e se dedicar.</p>
                </div>
       </div>
    </div>
</main>


    <footer class="container-fluid">
    <div class="row foot">
        <p>Learning - copyright</p>
        <img src="img/Learning map-logo - white.png">
    </div>
    </footer>  




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>