<%- include('./partials/header') %>

    <main>
        <div class="container">
               <div class="login">
                <h2>Login</h2>
                <% if( typeof msg !== 'undefined') {%>
                  <div class="alert alert-secondary" role="alert">
                    <%= msg %>
                  </div>
                  <% } %>
                <form action="/login" method="POST">
                  <label for="login">Login:</label>
                    <input class="form-control" type="text" placeholder="Nome do usuario" name="email">
                    <label for="senha">Senha:</label>
                    <input class="form-control" type="password" placeholder="Digite a senha" name="password">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Entrar</button>
                    <a href="#" class="txt">Esqueci a senha</a>
                      
                    
                      
                    
                </form>
               </div>
        </div>
    </main>
    <footer class="container-fluid">
        <div class="row foot">
            <p>Learning - copyright</p>
            <img src="img/Learning map-logo - white.png">
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>